:host {
    .container {
        padding: 10px;
        background-color: rgb(89, 122, 184);
    }

    button {
        background-color: purple;

        @media screen and (max-width: 576px) {
            margin-top: 10px;
        }

    }

    mat-form-field {
        width: 100%;
    }

    .complete-center-child {
        display: flex;
        align-items: center;
        justify-content: center;

         * {
            display: block;
        }
    }

    .alert-required {
        color: #dc3545;
        padding: 10px 0;
        text-align: center;
    }
}