<form #projectForm="ngForm" (ngSubmit)="createProject(projectForm)">
    <mat-form-field appearance="outline">
        <mat-label>Nombre del proyecto</mat-label>
        <input ngModel name="title" #title="ngModel" matInput type="text" placeholder="Ej. Crear un nuevo servicio" required>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <input ngModel name="description" #description="ngModel" matInput type="text" placeholder="Ej. Proyecto para crear un nuevo servicio">
    </mat-form-field>
    <button mat-raised-button type="submit">Crear</button>
</form>
