<form #projectForm="ngForm" (ngSubmit)="createProject(projectForm)" autocomplete="off">
    <div class="cancel-container">
        <button mat-icon-button mat-dialog-close aria-label="cancel button" class="cancel-button">
            <mat-icon class="color cancel-icon">cancel</mat-icon>
        </button>
    </div>
    <div class="title">
        <h2 mat-dialog-title>Crea un nuevo proyecto</h2>
    </div>
    <div class="container">
        <div class="row">    
            <div class="col-12 col-sm-4">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label class="white">Nombre del proyecto</mat-label>
                    <input ngModel class="caret-color" name="title" #title="ngModel" matInput type="text" placeholder="Ej. Crear un nuevo servicio" required>
                </mat-form-field>              
            </div>
            <div class="col-12 col-sm-5">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label class="white">Descripción</mat-label>
                    <input ngModel class="caret-color" name="description" #description="ngModel" matInput type="text" placeholder="Ej. Proyecto para crear un nuevo servicio">
                </mat-form-field>
            </div>
            <div class="col-12 col-sm-3 complete-center-child">
                <button mat-raised-button type="submit" class="dialog-button">Crear</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-5">
                <span class="alert-required" *ngIf="!formOk">Debes introducir un nombre de proyecto</span>
            </div>
        </div>
    </div>
</form>
