<mat-card class="faded-background">
    <div class="mat-header">
        <div class="project-info">
            <mat-card-title>{{project.title}}</mat-card-title>
            <mat-card-subtitle>{{project.creationDate.toDateString()}}</mat-card-subtitle>
        </div>
        <div class="project-actions icon-button">
            <mat-card-actions class="remove-margin">
                <mat-icon class="white" (click)="editProject(project)">edit</mat-icon>
            </mat-card-actions>
        </div>
    </div>
    <mat-card-content>
        <div class="task-item round-border" *ngFor="let task of project.tasks">
            <div class="icon-button">
                <mat-card-actions class="remove-margin">
                    <mat-icon class="purple sizing flex-center" (click)="completeTask(task)" *ngIf="!task.completed">radio_button_unchecked</mat-icon>
                    <mat-icon class="purple sizing flex-center" (click)="unCompleteTask(task)" *ngIf="task.completed">radio_button_checked</mat-icon>
                </mat-card-actions>
            </div>
            <div class="task-title" [class.line-through]="task.completed">{{task.name}}</div>
            <div class="icon-button">
                <mat-card-actions class="remove-margin">
                    <mat-icon class="purple sizing flex-center">edit</mat-icon>
                </mat-card-actions>
            </div>
        </div>
        <div class="create-task">
            <form autocomplete="off" #taskCreateForm="ngForm">
                <mat-form-field floatLabel="never" class="full-width" appearance="none">
                    <input ngModel name="newTask" #newTask="ngModel" matInput type="text" class="caret-color" [placeholder]="newTaskPlaceholder" [(ngModel)]="newTaskValue" (click)="newTaskFocus()" (keyup.enter)="createTask(taskCreateForm)">
                    <mat-icon matSuffix class="icon-button" (click)="createTask(taskCreateForm)">add</mat-icon>
                </mat-form-field>
            </form>
        </div>
    </mat-card-content>
</mat-card>
