:host {
    .border-round {
        border-radius: 5px;
    }
    .task-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        border-bottom: 2px solid purple;
        color: black;
        margin-top: 10px;
    }

    .task-title {
        flex: 1;
        margin-left: 10px;
        margin-right: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .flex-center {
        margin: 0;
        display: flex;
        justify-content: center; 
    }

    .remove-bottom-margin {
        margin-bottom: 0;
    }

    .button-sizing {
        @media screen and (max-width: 570px) {
            width: 30px;
        }
        @media screen and (min-width: 570px) {
            width: 20px;
        }
    }

    .icon-sizing {
        @media screen and (max-width: 570px) {
            font-size: 30px;
        }  
        @media screen and (min-width: 570px) {
            font-size: 20px;
        }      
    }

    .right-margin {
        margin-right: 10px;
    }

    .faded-background {
       background-color: rgba(66, 66, 66, 0.7);
    }

    .mat-header {
        display: flex;
        justify-content: space-between;
    }

    .purple {
        color: purple;
    }

    .white {
        color: white;
    }

    .create-task {
        margin-top: 10px;

        * {
            padding: 0;
        }
    }

}