<mat-card class="faded-background">
    <div class="mat-header">
        <div class="project-info">
            <mat-card-title>{{project.title}}</mat-card-title>
            <mat-card-subtitle>{{project.creationDate | date: 'longDate':'es'}}</mat-card-subtitle>
        </div>
        <div class="project-actions icon-button">
            <mat-card-actions class="remove-margin">
                <mat-icon class="white" (click)="editProject(project)">edit</mat-icon>
            </mat-card-actions>
        </div>
    </div>
    <mat-card-content>
        <app-task-item *ngFor="let task of project.tasks" [task]="task" (taskSelected)="deleteTask($event)" class="task-item round-border">
        </app-task-item>
        <div>
            <app-new-task [project]="project"></app-new-task>
        </div>
    </mat-card-content>
</mat-card>
