<mat-card class="faded-background">
    <div class="mat-header">
        <div class="project-info">
            <mat-card-title>{{project.title}}</mat-card-title>
            <mat-card-subtitle>{{project.creationDate.toDateString()}}</mat-card-subtitle>
        </div>
        <div class="project-actions">
            <mat-card-actions class="remove-bottom-margin right-margin">
                <button mat-icon-button aria-label="ok button" class="button-sizing">
                    <mat-icon class="white icon-sizing">check</mat-icon>
                </button>
                <button mat-icon-button aria-label="edit button" class="button-sizing">
                    <mat-icon class="white icon-sizing">edit</mat-icon>
                </button>
                <button mat-icon-button aria-label="delete button" class="button-sizing">
                    <mat-icon class="white icon-sizing">delete</mat-icon>
                </button>
            </mat-card-actions>
        </div>
    </div>
    <mat-card-content>
        <div class="task-item round-border" *ngFor="let task of project.tasks">
            <div class="task-title">{{task.name}}</div>
            <div class="flex-center">
                <mat-card-actions class="remove-bottom-margin right-margin">
                    <button mat-icon-button aria-label="ok button" class="button-sizing">
                        <mat-icon class="purple icon-sizing">check</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="edit button" class="button-sizing">
                        <mat-icon class="purple icon-sizing">edit</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="delete button" class="button-sizing">
                        <mat-icon class="purple icon-sizing">delete</mat-icon>
                    </button>
                </mat-card-actions>
            </div>
        </div>
        <div class="create-task">
            <form autocomplete="off" #taskCreateForm="ngForm">
                <mat-form-field floatLabel="never" class="full-width" appearance="none">
                    <input ngModel name="newTask" #newTask="ngModel" matInput type="text" class="caret-color" [placeholder]="newTaskPlaceholder" [(ngModel)]="newTaskValue" (click)="newTaskFocus()" (keyup.enter)="createTask(taskCreateForm)">
                    <mat-icon matSuffix class="icon-button" (click)="createTask(taskCreateForm)">add</mat-icon>
                </mat-form-field>
            </form>
        </div>
    </mat-card-content>
</mat-card>
